* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: ;
}

.wrap {
	width: 375px;
	height: 812px;
	border: 1px solid red;
	position: relative;
	background-color: #EEEBE5;
}

/* 네이티브 */
.native {
	height: 44px;
	border: 1px solid greenyellow;
}

/* 네비게이션 */
nav {
	width: inherit;
	height: 76px;
	position: absolute;
	bottom: 0;
	text-align: center;
	background: linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%);

}
nav > a {
	display: inline-block;
	margin-right: 60px;
}
nav > a:last-child {
	margin-right: 0;
}
nav > a > img {
	padding: 24px 0;
}

/* 홈화면 */
main {
	width: 375px;
	height: 680px;
	border: 1px solid blue;
}
main > section {

}

/* 계좌관리*/
.account {
	
}
.account .account__header {
	width: 327px;
	height: 43px;
	margin: auto;
	position: relative;
}
.account .account__header h2 {
	text-align: center;
	padding: 8px;
	font-size: 18px;
}
.account .account__header .profile {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: solid #DCCDB6 1px;
	position: absolute;
	left: 0px;
	top: 0;
}
.account .account__header .QR {
	position: absolute;
	right: 42px;
	top: 9px;
}
.account .account__header .search {
	position: absolute;
	right: 0;
	top: 9px;
}

/* 계좌정보 */
.account .account__infor {
	border: 1px solid blue;	
	
}

/* 계좌번호 및 잔액 */
.account .account__infor .account__infor-total {
	border: 1px solid orange;
	width: 279px;
	height: 155px;
	margin: auto;
	background-color: #FFF;
	border-radius: 12px;
	margin-top: 33px;
	position: relative;
}
.account .account__infor .account__infor-total .account__infor-box {
	
}
.account .account__infor .account__infor-total .account__infor-box .account-num {
	text-align: center;
}
.account .account__infor .account__infor-total .account__infor-box .balance {
	text-align: center;
}

/* 조절바 */
.account .account__infor .account__infor__controll {
	border: 1px solid red;
	
}
.account .account__infor .account__infor__controll .controller {
    width: 202px;
	height: 17px;
	border: 1px solid black;
	margin: auto;
}
.account .account__infor .account__infor__controll .warning {
    text-align: center;
}
.account .account__infor .account__infor__controll .chart {
    position: absolute;
	bottom: 33px;
	right: 14px;
}
.account .account__infor .account__infor__transfer {
    
}

/* 조절바 div 태그 */


/* 광고 */
.account .account__ad {
	border: 1px solid orange;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 21px;
}
.account .account__ad p {

}
.account .account__ad p > span {
	
}
.account .account__ad p > a {
	margin-left: 6px;
}

/* 잔액관리 */
.content {
	background-color: #FFF;
	border-radius: 30px 30px 0 0;
}
.contents {
	border: 1px solid hotpink;
}

/* 저금통 */
.contents .contents__money-box {
    
}
.contents .contents__money-box .contents__money-box__list {
    
}
.contents .contents__money-box .contents__money-box__add {
    
}

/* 입출금내역 */
.contents .contents__history {

}
.contents .contents__history .contents__history__days {
    
}
.contents .contents__history .contents__history__days strong {
    
}
.contents .contents__history .contents__history__days p {
    
}
.contents .contents__history .contents__history__days .contents__history__day__detail {
    
}